@charset "UTF-8";

body{
	font-size:9pt;
	text-align:center;
	font-family: "맑은 고딕",새굴림,바탕체;
}
table{
	font-size:9pt;
	text-align:center;
	border: 1pt solid black;
	table-layout:fixed;
	margin-left: auto;
	margin-right: auto;
}
select{
	font-size:9pt;
}
form{
	font-size:9pt;
}
p{
	font-weight:700;
	font-size:12pt;
}
td{
	word-break: break-all;
}










